* {
  margin: 0;
  padding: 0;
}

html, body, #app, #app>div, #root {
  height: 100%
}

.App {
  text-align: center;
}

.section {
  text-align: center;
}

.gameCardContainer {
  width: 200px;
  height: 30%;
  border: 1px solid black;
}

.cardArea {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid red;
}

.cardAreaWrapper {
  width: 80%;
  height: 80%;
  border: 2px solid blue;
  margin: 0% 10%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}

.heroWrapper {
  width: 100%;
  height: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.main-game-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 60%;
}

.dungeon-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 50px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
}

.gridCard {
  width: 20%;
  height: 125px;
  transition: transform .3s;
}

.gridCard:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.active {
  background-color: pink;
  visibility: hidden;
}

.unreachable {
cursor: not-allowed;
}

.action-wrapper {
  height: 90%;
  width: 100%;
  background-color: lime;
  position: absolute;
}

.hidden {
  visibility: hidden;
}

.complete {
  visibility: hidden;
}

.characterTab {
  height: 100%;
  width: 20%;
  border: 1px solid black;
}

.extraTab {
  background-color: mediumaquamarine;
  height: 100%;
  width: 20%;
}

.dungeonTab{ 
  margin: 0;
  width: 20%;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.leftSidebar {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.statsContainer {
  width: 100%;
  height: 300px;
}

.statsPaper {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.statsCard {
  width: 100%;
  height: 20%;
  border: 0.5px solid gray;
  border-radius: 10px;
  /* margin-bottom: 0.5em; */
}

.statsGrid {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}